@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --yellow-color: #e8eb5b;
  --light-grey: #f2eeee;
  --dark-grey: #e5e5e5;
  --light-green: #6eb16a;
  --font-clr: #333;
  --white-clr: #fefefe;
  --poppins: 'Poppins', sans-serif;
}
.dark-mode-clr {
  --yellow-color: #e8eb5b;
  --light-grey: #555555;
  --dark-grey: #3a3939;
  --light-green: #6eb16a;
  --font-clr: rgb(243, 243, 243);
  --white-clr: #1a1919;
  --poppins: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--dark-grey);
  font-family: var(--poppins);
  color: var(--font-clr);
}
img {
  width: 100%;
}
.container {
  width: 90%;
  margin: auto;
}
header {
  background-color: var(--light-grey);
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}
.hamburger {
  cursor: pointer;
}
section {
  padding-bottom: 2em;
}
.hero-section {
  height: 100vh;
  padding: 5em 2em 1em 2em;
  display: flex;
  flex-direction: column;
  gap: 5em;
  position: relative;
}
.dark-mode {
  position: absolute;
  top: 15vh;
  right: 0px;
  background-color: var(--white-clr);
  padding: 0.1em 0.2em 0.1em 1.5em;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}
.hero-btn {
  border: none;
  color: var(--light-green);
  background-color: inherit;
  font-family: var(--poppins);
  font-size: 1.3rem;
}
.details-section ul,
ol {
  padding: 0.5em 0 3em 1.25em;
}
.details-section ol li {
  width: 90%;
  padding-bottom: 0.5em;
}
.project {
  padding: 1em 0;
}
.project-img {
  padding: 1.7em 0 0.9em 0;
}
.project-name {
  padding-bottom: 0.3em;
}
.project-description {
  font-size: 0.9rem;
}

footer {
  background-color: var(--light-grey);
  padding: 3em 6em 3em 3em;
}
.logo-footer img {
  width: 50%;
}
footer h2 {
  display: inline-block;
  padding-top: 1em;
  border-bottom: 1px solid var(--font-clr);
  font-weight: 500;
}
.social-icons i {
  font-size: 2rem;
  margin-right: 0.3em;
  margin-top: 0.5em;
}
